# Ignore local configuration
conf/local/**
!conf/local/.gitkeep

# Ignore sensitive credentials
conf/**/*credentials*

# Ignore all data files
data/**
!data/**/
!.gitkeep
!data/01_raw/*.csv

# Kedro Viz
.viz/
kedro-viz/
kedro-viz/build/
kedro-viz/dist/
kedro-viz/node_modules/
kedro-viz/package-lock.json
kedro-viz/*.egg-info/

# ML tracking outputs
mlruns/
wandb/
drift_report.csv
drift_bar.png
y_pred.csv
model.pkl
model_partitions/
partitioned_data/

# Jupyter & Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Python envs
.env
.venv
env/
venv/
ENV/

# Compiled files
*.so

# MacOS
*.DS_Store

# IDEs
.vscode/
.idea/
